* {
    background-color: #0C134F;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
}
body{
    margin: 0%;
    box-sizing: border-box;
}
h1,
h2 {
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    color: #FF8080;
}

a {
    text-decoration: none;
    margin-left: 580px;
    margin-right: 560px;
    font-size:20px;
    font-weight: 800;
    background-color: #FFD9C0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #FF204E;
}
a:hover{
    background-color: #FDFFAB;
    color:#39A7FF;
}
nav{
    background-color: #FBFFDC;
    color: #FA7070;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
}